@{
    ViewData["Title"] = "Archive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Archive</h1>
<table class="table">
    <tbody>
    <tr>
        <th>
            <a asp-action="Archived" asp-controller="Client">Clients</a>
        </th>
    </tr>
    <tr>
        <th>
            <a asp-action="Archived" asp-controller="ReceiptDocument">ReceiptDocuments</a>
        </th>
    </tr>
    <tr>
        <th>
            <a asp-action="Archived" asp-controller="ReceiptResource">ReceiptResources</a>
        </th>
    </tr>
    <tr>
        <th>
            <a asp-action="Archived" asp-controller="Resource">Resources</a>
        </th>
    </tr>
    <tr>
        <th>
            <a asp-action="Archived" asp-controller="ResourceBalance">ResourceBalances</a>
        </th>
    </tr>
    <tr>
        <th>
            <a asp-action="Archived" asp-controller="ShippingDocument">ShippingDocuments</a>
        </th>
    </tr>
    <tr>
        <th>
            <a asp-action="Archived" asp-controller="ShippingResource">ShippingResources</a>
        </th>
    </tr>
    <tr>
        <th>
            <a asp-action="Archived" asp-controller="UnitOfMeasurement">UnitsOfMeasurement</a>
        </th>
    </tr>
    </tbody>
</table>
