@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to warehouse management</h1>
    <p>Warehouse Management Website<a href="https://docs.google.com/document/d/1kysWVjkzO6x0HIIkFC7xxVkklAmdiyWdWtIr--eC3vk/edit?tab=t.0">The work is demonstrative, completed as a test task.</a>.</p>
    <img src="images/warehouse.jpg"/>
</div>