@using System.Collections
@using Models.Entities

@model ResourceBalancesViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    @await Html.PartialAsync("PartialSearchResourceBalance",Model)
    @await Html.PartialAsync("PartialResourceBalancesTable", Model.Balances)
</div>
